<section class="user-edit">
        <div class="container-fluid">
          <header>
              <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
            <h3>Add SOP</h3>
          </header>
        </div>
 <%= render 'form', sop: @sop,division_data: @division_data %>
</section>