<section class="page-content">
  <div class="container-fluid mrgn-top-25 mrgn-btm-30">
    <%=form_for "change password",:url=>{:controller=>"users",:action=>"change_password_update"} do |i| %>
    <div class="container">
      <div class="row  justify-content-md-center">
        <div class="error_password"></div>
      </div>      
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card change-pswd">
            <div class="card-header">
              <h2>Change Password</h2>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="oldpassword">Current Password</label>
                <%=i.password_field :old_password, :placeholder=>"Old Password", :id=>"old_password",:required=>true,class: "fold form-control"%>
              </div>
              <div class="form-group">
                <label for="newpassword">New Password</label>
                <%=i.password_field :password ,:placeholder=>"Password",:id=>"password" ,required:true ,class:"form-control"%>                
              </div>
              <div class="form-group">
                <label for="conpassword">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" id="confirm_password" required class="form-control">                
              </div>
            </div>
            <div class="card-footer">
              <%=i.submit "Save" , class: "btn btn-primary float-right" %>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--       <div class="row  justify-content-md-center">
        <div class="col-md-4 error_password"></div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="oldpassword">Current Password</label>
          <%#=i.password_field :old_password, :placeholder=>"Old Password", :id=>"old_password",:required=>true,class: "fold form-control"%></div>
      </div>
      <div class="new_password">
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="newpassword">New Password</label>
            <%#=i.password_field :password ,:placeholder=>"Password",:id=>"password" ,required:true ,class:"form-control"%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="conpassword">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" id="confirm_password" required class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%#=i.submit "Save" , class: "btn btn-primary btn-one" %>
              <%#end%>
          </div>
        </div>
      </div> -->



      <div class="new_password"></div>

  </div>

</section>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fold").change(function() {
      var old_pas = ($(old_password).val());
      $.ajax({
        type: "GET",
        url: "/users/old_password_check",
        data: {
          password: old_pas
        },
        dataType: 'script'
      })

    });
  });
</script>

<script type="text/javascript">
  var password = document.getElementById("password"),
    confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>