

  <section class="user-edit">
	  <div id="contact" class="container-fluid">
          <header>
		    <h3>Edit Contact</h3>
          </header>
        </div>
        <div class="container cont_pad">
          <div class="card">
            <from class="edit-form">
    
<%= render 'form',contact: @contact,supplier_data: @supplier_data,manufacturer_data: @manufacturer_data ,division_data: @division_data,marketing_data:@marketing_data%>
</from>
</div>
</div></section>
