 <section class="user-edit">
	  <div id="addcon" class="container-fluid">
          <header>
                 <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
		    <h3>Edit Marketing Title</h3>
          </header>
        </div>

<%= render 'form', marketing: @marketing %>
</section>
