<!DOCTYPE html>
<html>
<head>
</head>
<body>
          <header>
          	<h3>marketing Title</h3>
          </header>
          
          
              <table class="table">
                <thead>
                  <tr>
                    <th class="th_user">Job Name</th>
                  </tr>
                </thead>
                <tbody class="scroll">
                  <tr> 
                    <td class="td_user"><%= @marketing["job_name"] %> </td>
                      </tr>                                                
                    
                                                    
                </tbody>
              </table>
</body>
</html>


