 <section class="user-edit">
	  <div id="addcon" class="container-fluid">
          <header>
		    <h3>Add Received Mail</h3>
          </header>
        </div>

 <%= render 'form', receive_mail: @receive_mail%>
 </section>
