<section class="user-edit">
        <div class="container-fluid">
          <header>
           <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
            <h3>Add Manufacturer</h3>
          </header>
        </div>
        
 <!--%= render 'form', manufacturer: @manufacturer,supplier_data: @supplier_data %-->
 <%= render 'form', manufacturer: @manufacturer, supplier_data: @suppliers %>

      </section>